<% flash.each do |message_type, message| %>
  <div role="alert" class="
    <%= case message_type
      when 'success' then 'alert alert-info'
      when 'error' then 'alert alert-error'
      else 'alert'
      end %> mb-5">
    <%= message %>
  </div>
<% end %>