<%= render 'user_profile', profile: @profile %>

<% if @user.scene_photos.any? %>
  <div class="flex flex-wrap justify-center items-center mb-5">
    <% @user.scene_photos.limit(6).each do |scene_photo| %> <!-- limit(6)で最大6つまで取得 -->
      <%= link_to gallery_path(scene_photo), class: "m-2" do %>
        <% thumb_url = scene_photo.images[0].thumb.url %>
        <%= image_tag thumb_url, class: "w-full h-auto object-cover", style: "aspect-ratio:#{226.0/240}" %>
      <% end %>
    <% end %>
  
  </div>
  <!--自分の投稿が７こ以上の場合は一覧表示できるようにする-->
  <!--% if @user && @user.scene_photos.count > 7 %-->  <!-- 投稿が7つ以上の場合にリンクを表示 -->
    <!--%= link_to "View All Scenes", user_gallery_path(@user) %-->
  <!--% end %-->

<% else %>
  <div class="container mx-auto p-5 sm:h-full flex items-center justify-center">
    <span class="text-lg"><%= t('.no_result') %></span>
  </div>
<% end %>
