<%= link_to gallery_path(scene_photo) do %>
  <div id="scene-photo-id-<%= scene_photo.id %>" class="max-w-sm mx-auto relative cursor-pointer">
    <% thumb_url = scene_photo.images[0].thumb.url %>
    <%= image_tag thumb_url, class: "w-full h-auto object-cover", style: "aspect-ratio:#{226.0/240}" %>
    <div class="absolute bottom-0 left-0 right-0 h-[50%] bg-black bg-opacity-50 backdrop-blur text-white p-4 flex flex-col items-start">
      <p><%= scene_photo.title %></p>
    </div>
  </div>
<% end %>
