<% if @galleries.present? %>
    <%= render @galleries %>
<% else %>
  <div class="h-96">
    <div class="container mx-auto p-5 sm:h-full flex items-center justify-center">
      <span class="text-2xl"><%= t('.no_result') %></span>
    </div>
  </div>
<% end %>