<body>
    <div class="relative flex flex-col justify-center min-h-screen overflow-hidden">
        <div class="w-full p-6 m-auto bg-white rounded-md shadow-md ring-2 ring-gray-800/50 md:max-w-lg mx-auto">
            <h1 class="text-3xl font-semibold text-center text-gray-700">Create Account</h1>
            <br>
            <form class="space-y-4">
                <div>
                  <input type="text" placeholder="Email Address" class="w-full input input-bordered" />
                </div>
                <div>
                  <input type="password" placeholder="Enter Password" class="w-full input input-bordered" />
                </div>
                <div class="flex items-center justify-between">
                  <div class="flex items-center">
                    <input id="remember_me" name="remember_me" type="checkbox" class="h-4 w-4 bg-blue-500 focus:ring-blue-400 border-gray-300 rounded">
                    <label for="remember_me" class="ml-2 block text-sm text-gray-800">
                      Remember me
                    </label>
                  </div>
                </div>
                <div class="text-center">
                  <button class="btn btn-block">Create Account</button>
                </div>
                <div class="text-center">
                  <a href="#" class="text-xs text-gray-600 hover:underline hover:text-blue-600">Forget Password?</a>
                </div>
            </form>
        </div>
    </div>
</body>


